# Ignore build output
/bin/

# Ignore Go modules cache
/vendor/
*.test

# Ignore editor directories
.idea/
.vscode/

# Ignore environment files
.env

# Ignore git history
.git
.gitignore

# Ignore OS files
*.DS_Store
